*{
  margin: 2;
  padding: 2;
}
nav {
    background-color: rgba(31,31,31,255);
   
}
h3{
  color: hotpink;
}
h1{
  color: white;
}
h4{
  color: hotpink
}
p{
  color: black;
}
body{
  background-color: whitesmoke;
}
